
myConsoleProject.cs/.vs/myConsoleProject.cs/v17/.suo
myConsoleProject.cs/.vs/myConsoleProject.cs/FileContentIndex/2c105a8f-a9f4-462c-8589-d6145c432f8c.vsidx
myConsoleProject.cs/myConsoleProject.cs/obj/Debug/myConsoleProject.cs.pdb
myConsoleProject.cs/myConsoleProject.cs/obj/Debug/myConsoleProject.cs.exe
myConsoleProject.cs/myConsoleProject.cs/Properties/AssemblyInfo.cs
myConsoleProject.cs/myConsoleProject.cs/obj/Debug/myConsoleProject.cs.csproj.SuggestedBindingRedirects.cache
myConsoleProject.cs/myConsoleProject.cs/obj/Debug/myConsoleProject.cs.csproj.CoreCompileInputs.cache
myConsoleProject.cs/myConsoleProject.cs/obj/Debug/myConsoleProject.cs.csproj.FileListAbsolute.txt
myConsoleProject.cs/myConsoleProject.cs/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
myConsoleProject.cs/myConsoleProject.cs/obj/Debug/myConsoleProject.cs.csproj.AssemblyReference.cache
*.cache
myConsoleProject.cs/myConsoleProject.cs/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
myConsoleProject.cs/myConsoleProject.cs/myConsoleProject.cs.csproj
myConsoleProject.cs/myConsoleProject.cs/bin/Debug/myConsoleProject.cs.pdb
myConsoleProject.cs/myConsoleProject.cs/bin/Debug/myConsoleProject.cs.exe.config
myConsoleProject.cs/myConsoleProject.cs/bin/Debug/myConsoleProject.cs.exe
myConsoleProject.cs/myConsoleProject.cs/App.config
myConsoleProject.cs/myConsoleProject.cs.sln
myConsoleProject.cs/.vs/myConsoleProject.cs/FileContentIndex/read.lock
myConsoleProject.cs/.vs/myConsoleProject.cs/FileContentIndex/d4c65a6f-a825-41f1-80b5-655c4790fb32.vsidx
