
myConsoleProject.cs/.vs/myConsoleProject.cs/v17/.suo
myConsoleProject.cs/.vs/myConsoleProject.cs/FileContentIndex/2c105a8f-a9f4-462c-8589-d6145c432f8c.vsidx
myConsoleProject.cs/myConsoleProject.cs/obj/Debug/myConsoleProject.cs.pdb
myConsoleProject.cs/myConsoleProject.cs/obj/Debug/myConsoleProject.cs.exe
myConsoleProject.cs/myConsoleProject.cs/Properties/AssemblyInfo.cs
myConsoleProject.cs/myConsoleProject.cs/obj/Debug/myConsoleProject.cs.csproj.SuggestedBindingRedirects.cache
myConsoleProject.cs/myConsoleProject.cs/obj/Debug/myConsoleProject.cs.csproj.CoreCompileInputs.cache
myConsoleProject.cs/myConsoleProject.cs/obj/Debug/myConsoleProject.cs.csproj.FileListAbsolute.txt
myConsoleProject.cs/myConsoleProject.cs/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
myConsoleProject.cs/myConsoleProject.cs/obj/Debug/myConsoleProject.cs.csproj.AssemblyReference.cache
*.cache
myConsoleProject.cs/myConsoleProject.cs/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
myConsoleProject.cs/myConsoleProject.cs/myConsoleProject.cs.csproj
myConsoleProject.cs/myConsoleProject.cs/bin/Debug/myConsoleProject.cs.pdb
myConsoleProject.cs/myConsoleProject.cs/bin/Debug/myConsoleProject.cs.exe.config
myConsoleProject.cs/myConsoleProject.cs/bin/Debug/myConsoleProject.cs.exe
myConsoleProject.cs/myConsoleProject.cs/App.config
myConsoleProject.cs/myConsoleProject.cs.sln
myConsoleProject.cs/.vs/myConsoleProject.cs/FileContentIndex/read.lock
myConsoleProject.cs/.vs/myConsoleProject.cs/FileContentIndex/d4c65a6f-a825-41f1-80b5-655c4790fb32.vsidx
.vs/Basic_C-_Programs/FileContentIndex/118fdde8-02ea-419d-9d02-c80daadd4382.vsidx
.vs/Basic_C-_Programs/FileContentIndex/read.lock
.vs/ProjectSettings.json
.vs/Basic_C-_Programs/v17/.suo
.vs/VSWorkspaceState.json
AICP/.vs/AICP/FileContentIndex/07b82337-ccbc-4daa-9fb0-1e84851490c0.vsidx
.vs/slnx.sqlite
AICP/.vs/AICP/FileContentIndex/read.lock
AICP/.vs/AICP/v17/.suo
AICP/AICP.sln
AICP/AICP/AICP.csproj
AICP/AICP/App.config
AICP/AICP/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
AICP/AICP/Properties/AssemblyInfo.cs
AICP/.vs/AICP/FileContentIndex/a9a21937-6df6-49cf-8295-a5b8e63f18f8.vsidx
AICP/AICP/bin/Debug/AICP.exe
AICP/AICP/obj/Debug/AICP.pdb
AICP/AICP/bin/Debug/AICP.exe.config
AICP/AICP/bin/Debug/AICP.pdb
AICP/AICP/obj/Debug/AICP.csproj.FileListAbsolute.txt
AICP/AICP/obj/Debug/AICP.exe
